*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  height: 100vh;
 
}
.container{
  width: 1200px;
  margin: 0 auto;
}

.welcome{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}
.hero__text{
  color: rgb(255, 255, 255);
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: left;
}
.heros__text{
 color: black;
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: left;
}
.heros__p{
  color: rgba(33, 37, 41, 0.5);
font-family: Work Sans;
font-size: 15px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
text-align: left;
}
.relative{
  display: flex;
  background: #74C69D;


}
.navLi{
  color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
text-align: right;
}
.heroP{
/* Typography/Body/Regular */
width: 416px;
height: 76px;
color: rgba(255, 255, 255, 0.75);
font-family: Work Sans;
font-size: 15px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
text-align: left;
}

/* SECTION-2  */
.partners{
  color: rgb(116, 198, 157);

font-size: 16px;
font-weight: 700;
line-height: 125%;
letter-spacing: 5px;
text-align: center;
text-transform: uppercase;
}
.brendBox{
  display: flex;
  margin: 55px auto;

justify-content: space-between;
}
.bigger{
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

.card-box{
  display: flex;

}
footer{
  height: 125px;
  background: rgb(116, 198, 157);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 131px;
}
.footer__text{
  color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
font-family: sans-serif;
}
footer img{
  cursor: pointer;
}